## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

## Playwright
playwright-report/
playwright/.local-browsers/

## Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

## OS files
.DS_Store
Thumbs.db

## IDEs
.vscode/
.idea/

## Environment
.env
.env.*

## Coverage
coverage/

## Misc
*.tgz
*.swp
*.swo